.modal_wrapper {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.show_modal_wrapper {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  /* padding: 16px; */
  left: 15%;
  top: 5%;
  box-sizing: border-box;
  animation: modal_slide_in_from_top .2s ease-in-out 1;
}

.hide_modal_wrapper {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  /* padding: 16px; */
  left: 15%;
  top: 5%;
  box-sizing: border-box;
  animation: modal_slide_in_from_top .2s ease-in-out 1;
}
