.footer_logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 10pt;
  margin: 15px 10px 15px 15px;
}

.footer_logo_rectangle{
  max-width: 100%;
  height: auto;
  max-height: 40px;
  margin: 5px 10px 5px 10px;
}