.testMenuButton2 {
  text-align: center;
  background: rgba(41, 41, 41, 1);
  color: #FFF;
  font: 300 12pt 'Lato', sans-serif;
  padding: 15px 20px 15px 20px;
  margin:0px;
  text-decoration: none;
  border: 0px solid rgba(175, 175, 175, 1);
}

.testMenuButton2:hover {
  cursor: pointer;
  color: rgba(40, 44, 52, 1);
  background: rgba(244, 166, 66, 1);
  border: 0px solid rgba(175, 175, 175, 1);
}

.testMenuButton2:active {
  background-color: rgba(245, 167, 66, 1);
  border: 0px solid rgba(175, 175, 175, 1);
}